.controls {
    list-style: none;
    padding: 12px 15px;
  }

.controls,
li,
.icons,
.icons i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls .exchange {
    color: #adadad;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease;
    margin: 20px;
  }

  .controls .exchange {
    font-size: 14px;
  }