.convert-box
{
    text-align: center;
}

.convert-box .select-input{
    display: flex;
    width: 100%;
    border: 1px solid #999;
    height: 40px;
    align-items: center;
    border-radius: 5px;
    padding: 0 20px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.convert-box .select-input:hover{
    border: 1px solid #675afe;
}

.convert-box .select-input img{
    max-width: 20px;
}

.convert-box .select-input select{
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    background: none;
    margin: 0 -5px 0 5px;
    color: #fff;
}

.convert-box .select-input select option{
    color: #000;
}

.result{
    font-size: 1.1rem;
    margin: 20px 0 30px;
}